<!DOCTYPE html>
<html lang="en">
<link rel="manifest" href="/manifest.json">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Parallax App</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="parallax-container">
        <div class="parallax-text">
            <p>Letsbuy</p>
            <p>Сервис скоро станет доступен для Вас</p>
        </div>
    </div>
    <script src="/parallax.js"></script>
</body>
</html>
