@font-face {
    font-family: 'Golos Text';
    src: url('/fonts/GolosText-Bold.ttf') format('truetype'); /* Убедитесь, что путь указан правильно */
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.parallax-container {
    background-image: url('background.jpg');
    background-size: 100%;
    background-position: center center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.1s ease-out;
}

.parallax-text {
    font-family: 'Golos Text', sans-serif;
    font-size: 48px;
    color: white;
    text-align: center;
}